<div class="row dashboard customer-dashboard mt-3">
    <div class="col-md-9">
        <div class="dashboard-heading">
            <p class="fw-bold text-3xl font-family">Dashboard</p>
            
            <a class="btn red-btn" [routerLink]="['/customer/new-companysearch']">
                <i class="icon-search" aria-hidden="true"></i>
                Search
            </a>
        </div>
        <div class="grid">
            <div class="col-12 flex-box">
                <div class="medium-size-btn">
                    <button class="inv-btn  btn-block red-btn" [routerLink]="['/customer/invite']"><i class="icon-user"
                        aria-hidden="true"></i><span class="ml-2">Invite To DigiComp+</span></button>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="row latestNews mt-3 text-base ">
                <div class="col-2 rowcol-2" style="justify-content:center"><span style="color:#ea4335" class>Latest
                        News</span></div>
                <div class="col-10 rowcol-9">

                <p-carousel [value]="latestNews" [autoplayInterval]="7000" [numVisible]="1" [numScroll]="1" [circular]="false"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-data pTemplate="item">
                    <p class="p-2"><span class="font-family">{{data.news}}</span></p>
                </ng-template>
            </p-carousel>

                   
                </div>
               

            </div>
            <div class="row flexboxrow mt-5">
                <div class="col-6 flexrow">
                    <ul>
                        <li>
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#34a853" />
                                </svg></span>
                            <span class="span font-family">Compliance</span>
                        </li>
                        <!-- <li>
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#fbbc05" />
                                </svg></span><span class="moderate-compliance span span-width font-family">Moderate Compliance</span>
                        </li> -->
                        <li class="non-compliance">
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#ea4335" />
                                </svg></span><span class="span span-width font-family">Non-Compliance</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6 flexrow" style="text-align: right;">
                    <ul>
                        <li>
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#34a853" />
                                </svg></span>
                            <span class="span font-family">Low Risk</span>
                        </li>
                        <li class="medium-risk">
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#fbbc05" />
                                </svg></span><span class="span font-family ">Medium Risk</span>
                        </li>
                        <li class="high-risk">
                            <span><svg width="20" height="20">
                                    <rect width="20" height="20" style="fill:#ea4335" />
                                </svg></span><span class="span font-family">High Risk</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6" style="border-right:1px solid lightgray">
                    <h2 class="font-family">Customers</h2>
                    <div class="row">
                        <ng-container >
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <div class="card-body cursor"  (click)="gotoCompliance('customer')">
                                        <p class="text-base cardheading">Compliance</p>
                                        <p class="text-xl font-bold mt-2 font-family cursor-pointer">{{customerData.compliance.value}}</p>
                                        <div class="mt-3 coloricons">
                                            <p class="text-base cursor-pointer"><span class="greendot"></span><span
                                                    class="mx-2 font-family">{{customerData.compliance.compliance}}</span></p>
                                            <!-- <p class="text-base cursor-pointer"><span class="yellowdot"></span><span
                                                    class="mx-2" font-family>{{complianceRisk?.moderateCompliance}}</span></p> -->
                                            <p class="text-base cursor-pointer"><span class="reddot"></span><span
                                                    class="mx-2 font-family">{{customerData.compliance.noncompliance}}</span></p>
                                        </div>
                                        <!-- <div class="mt-3 coloricons">
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                            <p class="text-bases red-color"><img
                                                    src="../../assets/images/arrow-down.png" width="20"
                                                    class="cursor-pointer">4.1%</p>
                                            <p class="text-bases green-color"><img
                                                    src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6  mt-3">
                                <div class="card">
                                    <div class="card-body cursor" (click)="gotoCustomer('customer')">
                                        <p class="text-base cardheading">Risk</p>
                                        <p class="text-xl font-bold mt-2 font-family cursor-pointer">{{customerData.risk.value}}</p>
                                        <div class="mt-3 coloricons" >
                                            <p class="text-base cursor-pointer"><span class="greendot"></span><span
                                                    class="mx-2 font-family">{{customerData.risk.lowRisk}}</span></p>
                                            <p class="text-base cursor-pointer"><span class="yellowdot"></span><span
                                                    class="mx-2" font-family>{{customerData.risk.mediumRisk}}</span></p>
                                            <p class="text-base cursor-pointer"><span class="reddot"></span><span
                                                    class="mx-2 font-family">{{customerData.risk.highRisk}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="font-family">Vendors</h2>
                    <div class="row">
                        <ng-container >
                            <div class="col-sm-6 mt-3" >
                                <div class="card" (click)="gotoCompliance('vendor')">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Compliance</p>
                                        <p class="text-xl font-bold mt-2 font-family cursor-pointer">{{vendorData.compliance.value}}</p>
                                        <div class="mt-3 coloricons" [routerLink]="['/customer/customersrisk']">
                                            <p class="text-base cursor-pointer"><span class="greendot"></span><span
                                                    class="mx-2 font-family">{{vendorData.compliance.compliance}}</span></p>
                                            <!-- <p class="text-base cursor-pointer"><span class="yellowdot"></span><span
                                                    class="mx-2" font-family>{{VendorCompliance?.moderateCompliance}}</span></p> -->
                                            <p class="text-base cursor-pointer"><span class="reddot"></span><span
                                                    class="mx-2 font-family">{{vendorData.compliance.noncompliance}}</span></p>
                                        </div>
                                        <!-- <div class="mt-3 coloricons">
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                            <p class="text-bases red-color"><img
                                                    src="../../assets/images/arrow-down.png" width="20"
                                                    class="cursor-pointer">4.1%</p>
                                            <p class="text-bases green-color"><img
                                                    src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3" >
                                <div class="card" (click)="gotoCustomer('vendor')">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Risk</p>
                                        <p class="text-xl font-bold mt-2 font-family cursor-pointer">{{vendorData.risk.value}}</p>
                                        <div class="mt-3 coloricons" [routerLink]="['/customer/customersrisk']">
                                            <p class="text-base cursor-pointer"><span class="greendot"></span><span
                                                    class="mx-2 font-family">{{vendorData.risk.lowRisk}}</span></p>
                                            <p class="text-base cursor-pointer"><span class="yellowdot"></span><span
                                                    class="mx-2" font-family>{{vendorData.risk.mediumRisk}}</span></p>
                                            <p class="text-base cursor-pointer"><span class="reddot"></span><span
                                                    class="mx-2 font-family">{{vendorData.risk.highRisk}}</span></p>
                                        </div>
                                        <!-- <div class="mt-3 coloricons">
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                            <p class="text-bases red-color"><img
                                                    src="../../assets/images/arrow-down.png" width="20"
                                                    class="cursor-pointer">4.1%</p>
                                            <p class="text-bases green-color"><img
                                                    src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-md-6  top-customers">
                    <div class="row">
                        <h2 class="p-3 font-family" style="text-align:center;">Top 10 Customers</h2>
                        <!-- top 10 Customers Compliance -->
                        <div class=" col-sm-6 chart-container" style="border-right:2px solid rgb(220 228 230)">
                            <p class="text-base font-family">Compliance</p>
                                <!-- <p-chart type="doughnut" width="50" height="50" [data]="data" class="charts" [options]="chartOptions">
                                </p-chart> -->
                                <!-- <div  id="main123" ></div> -->
                                <div echarts [options]="main123" class="demo-chart"></div>
                        </div>
                        <div class=" col-sm-6 chart-container">
                            <p class="text-base font-family">Risk</p>
                            <!-- <div class="chart"> -->
                                <!-- <p-chart type="doughnut" [data]="data" class="charts" [options]="chartOptions">
                                </p-chart> -->
                                <!-- <div  id="main2"></div> -->
                                <div echarts [options]="main2" class="demo-chart"></div>

                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6  top-suppliers">
                    <div class="row">
                        <h2 class="p-3 centers font-family">Top 10 Vendors</h2>
                        <div class=" col-sm-6" style="border-right:2px solid rgb(220 228 230)">
                            <p class="text-base">Compliance</p>
                            <!-- <div class="chart"> -->
                                <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '20%'}">
                                </p-chart> -->
                                <div echarts [options]="main3" class="demo-chart"></div>

                            <!-- </div> -->
                        </div>
                        <div class=" col-sm-6 ">
                            <p class="text-base font-family">Risk</p>
                            <!-- <div class="chart"> -->
                                <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '20%'}">
                                </p-chart> -->
                                <div echarts [options]="main4" class="demo-chart"></div>

                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6" style="border-right:1px solid lightgray">
                    <h2 class="font-family">Financial Risk Score</h2>
                    <div class="row">
                        <!-- <ng-container *ngFor="let col of suppliers "> -->
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Customer</p>
                                        <p class="text-xl font-bold mt-2">{{financialData.customer.value}}</p>
                                        <div class="mt-3 coloricons">
                                            <p class="text-base"><span class="greendot"></span><span
                                                    class="mx-2">{{financialData.customer.lowRisk}}</span></p>
                                            <p class="text-base"><span class="yellowdot"></span><span
                                                    class="mx-2">{{financialData.customer.mediumRisk}}</span></p>
                                            <p class="text-base"><span class="reddot"></span><span
                                                    class="mx-2">{{financialData.customer.highRisk}}</span></p>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Vendor</p>
                                        <p class="text-xl font-bold mt-2">{{financialData.vendor.value}}</p>
                                        <div class="mt-3 coloricons">
                                            <p class="text-base"><span class="greendot"></span><span
                                                    class="mx-2">{{financialData.vendor.lowRisk}}</span></p>
                                            <p class="text-base"><span class="yellowdot"></span><span
                                                    class="mx-2">{{financialData.vendor.mediumRisk}}</span></p>
                                            <p class="text-base"><span class="reddot"></span><span
                                                    class="mx-2">{{financialData.vendor.highRisk}}</span></p>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        <!-- </ng-container> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Info Sec Risk Score</h2>
                    <div class="row">
                        <!-- <ng-container *ngFor="let col of suppliers"> -->
                            <div class=" col-sm-6 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Customer</p>
                                        <p class="text-xl font-bold mt-2">{{financialData.customer.value}}</p>
                                        <div class="mt-3 coloricons">
                                            <p class="text-base"><span class="greendot"></span><span
                                                    class="mx-2">{{financialData.customer.lowRisk}}</span></p>
                                            <p class="text-base"><span class="yellowdot"></span><span
                                                    class="mx-2">{{financialData.customer.mediumRisk}}</span></p>
                                            <p class="text-base"><span class="reddot"></span><span
                                                    class="mx-2">{{financialData.customer.highRisk}}</span></p>
                                        </div>
                                        <!-- <div class="mt-3 coloricons">
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                            <p class="text-bases"><img src="../../assets/images/arrow-down.png"
                                                    width="20" class="cursor-pointer">4.1%</p>
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-base cardheading">Vendor</p>
                                        <p class="text-xl font-bold mt-2">{{financialData.vendor.value}}</p>
                                        <div class="mt-3 coloricons">
                                            <p class="text-base"><span class="greendot"></span><span
                                                    class="mx-2">{{financialData.vendor.lowRisk}}</span></p>
                                            <p class="text-base"><span class="yellowdot"></span><span
                                                    class="mx-2">{{financialData.vendor.mediumRisk}}</span></p>
                                            <p class="text-base"><span class="reddot"></span><span
                                                    class="mx-2">{{financialData.vendor.highRisk}}</span></p>
                                        </div>
                                        <!-- <div class="mt-3 coloricons">
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                            <p class="text-bases"><img src="../../assets/images/arrow-down.png"
                                                    width="20" class="cursor-pointer">4.1%</p>
                                            <p class="text-bases"><img src="../../assets/images/arrow-up.png" width="20"
                                                    class="cursor-pointer">2.5%</p>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        <!-- </ng-container> -->
                    </div>
                </div>
            </div>

            <hr class="mt-5">

             <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <h2>Compliance Yearly Review Renewal</h2>
                    <div class="row">
                        <ng-container >
                            <div class=" col-sm-6 mt-3">
                                <div class="card ">
                                    <p class="card-box-heading">Customer</p>
                                    <!-- <div class="bar-chart"  id="bar1" ></div> -->
                                    <div echarts [options]="bar1" class="demo-chart"></div>
                                </div>
                            </div>
                            <div class=" col-sm-6 mt-3">
                                <div class="card ">
                                    <p class="card-box-heading">Vendor</p>
                                    <!-- <div class="bar-chart"  id="bar2" ></div> -->
                                    <div echarts [options]="bar2" class="demo-chart"></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Risk Yearly Review Renewal</h2>
                    <div class="row">
                        <ng-container >
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <p class="card-box-heading">Customer</p>
                                    <!-- <div class="bar-chart" id="bar3" ></div> -->
                                    <div echarts [options]="bar3" class="demo-chart"></div>
                                </div>
                            </div>
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <p class="card-box-heading">Vendor</p>
                                    <!-- <div class="bar-chart" id="bar4" ></div> -->
                                    <div echarts [options]="bar4" class="demo-chart"></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
             
            <!-- <div id="bar"></div> -->
            <!-- <div class="row mt-5">
                <div class="col-md-6">
                    <h2>Compliance Yearly Review Renewal</h2>
                    <div class="row">
                        <ng-container >
                            <div class=" col-sm-6 mt-3">
                                <div class="card ">
                                    <p class="card-box-heading">Customer</p>
                                    <div class="box-card">
                                        <svg viewBox='0 0 100 100'>
                                            10
                                            <circle cx='50' cy='50' r='45' id='green' />
                                            <circle cx='50' cy='50' r='45' id='pink' />
                                        </svg>
                                        <div class="card-text" >
                                            <p class="green-box ">Scheduled <span>4</span></p>
                                            <p class="red-box">Missed <span>6</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 mt-3">
                                <div class="card ">
                                    <p class="card-box-heading">Vendor</p>
                                    <div class="box-card">
                                        <svg viewBox='0 0 100 100'>
                                            10
                                            <circle cx='50' cy='50' r='45' id='green' />
                                            <circle cx='50' cy='50' r='45' id='orange' />
                                        </svg>
                                        <div class="card-text">
                                            <p class="green-box ">Scheduled <span>8</span></p>
                                            <p class="red-box">Missed <span>2</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Risk Yearly Review Renewal</h2>
                    <div class="row">
                        <ng-container >
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <p class="card-box-heading">Customer</p>
                                    <div class="box-card">
                                        <svg viewBox='0 0 100 100'>
                                            10
                                            <circle cx='50' cy='50' r='45' id='green' />
                                            <circle cx='50' cy='50' r='45' id='blue' />
                                        </svg>
                                        <div class="card-text">
                                            <p class="green-box">Scheduled <span>5</span></p>
                                            <p class="red-box">Missed <span>5</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6  mt-3">
                                <div class="card">
                                    <p class="card-box-heading">Vendor</p>
                                    <div class="box-card">
                                        <svg viewBox='0 0 100 100'>
                                            10
                                            <circle cx='50' cy='50' r='45' id='green' />
                                            <circle cx='50' cy='50' r='45' id='last' />
                                        </svg>
                                        <div class="card-text">
                                            <p class="green-box">Scheduled <span>6</span></p>
                                            <p class="red-box">Missed <span>4</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
             -->

        </div>
    </div>
    <div class="col-md-3">
        <div class="right-container pb-2">
            <button class="inv-btn red-btn" [routerLink]="['/customer/invite']" ><i class="icon-user"
                    aria-hidden="true" ></i><span class="ml-2">Invite To DigiComp+</span></button>
            <p class="mt-5 text-2xl p-3 font-bold">ESG Score Card</p>
            <!-- (click)="shareModal()" -->
            <div class="esg-score right-box">
                <p-tabView>
                    <p-tabPanel header="Customers">
                            <div class="tabletop">
                                <div class="tabletop-head">
                                    <div class="name">
                                        <p>Name</p>
                                    </div>
                                    <div class="score">
                                        <p>Score</p>
                                    </div>
                                </div>
                                <div class="esg-score-list">
                                    <ng-container *ngFor="let esg of customerEsgScore">
                                    <div class="esg-score">
                                        <div class="body-text">
                                            <div class="left">
                                                <p (click)="seaway(esg.vendorId)">{{esg.vendorName}} </p>
                                            </div>
                                            <div class="center">
                                                <p class="reddots"  pTooltip="Customer Esg Score" tooltipPosition="bottom" (click)="seaway(esg.vendorId)" ><span>{{esg.esgScore}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                        
                    </p-tabPanel>
                    <p-tabPanel header="Vendors">
                        <div class="mt-3">
                            <div class="tabletop mt-3">
                                <div class="tabletop-head">
                                    <div class="name">
                                        <p>Name</p>
                                    </div>
                                    <div class="score">
                                        <p>Score</p>
                                    </div>
                                </div>
                                <div class="esg-score-list">
                                    <ng-container *ngFor="let esg of vendorEsgScore">
                                    <div class="esg-score">
                                        <div class="body-text">
                                            <div class="left">
                                                <p (click)="seaway(esg.vendorId)">{{esg.vendorName}} </p>
                                            </div>
                                            <div class="center">
                                                <p class="reddots" pTooltip="Vendor Esg Score" tooltipPosition="bottom" (click)="seaway(esg.vendorId)" ><span>{{esg.esgScore}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="dashboard-heading m-3">
                <p class="text-2xl font-bold cursor-pointer" style="cursor: pointer;">Adverse Media</p>
                <p class="font-bold text-base text-rose-700 mt-1 p-red">View All</p>
            </div>

            <div>
                <ng-container *ngFor="let col of adverseMedia">
                    <div class="row pt-3 pb-3 m-2 bg-white" style="border:1px solid lightgray">
                        <!-- <div class="col-3">
                            <img src="{{col.img}}">
                        </div> -->
                        <div class="col-12"   style="cursor: pointer;" (click)="adverseMediaUrl(col.url)">
                            {{col.title}} <br>
                            <p class="text-gray-400">{{col.date}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            
            <div class="m-3">
                <p class="mt-4 text-2xl font-bold">Open Issues</p>
                <div class="table-top mt-2">
                    <div class="table-head">
                        <div class="name">
                            <p>Name</p>
                        </div> 
                        <div class="category">
                            <p>Category</p>
                        </div>
                    </div>

                    <div class="table-body open-issue">
                        <div class="body-text">
                            <div class="left">
                                <p>Central Bank of Iran</p>
                            </div>
                            <div class="right">
                                <p><span>Compliance Risk</span></p>
                            </div>
                        </div>
                    
                        <div class="body-text">
                            <div class="left">
                                <p>BANQUE PRIVEE EDMOND DE ROTHSCHILD</p>
                            </div>
                            <div class="right">
                                <p><span>Compliance Risk</span></p>
                            </div>
                        </div>
                    
                        <div class="body-text">
                            <div class="left">
                                <p>AIRBUS GROUP</p>
                            </div>
                            <div class="right">
                                <p><span>Financial Risk</span></p>
                            </div>
                        </div>
                        <div class="body-text">
                            <div class="left">
                                <p>DE BEERS UK LIMITED</p>
                            </div>
                            <div class="right">
                                <p><span>Financial Risk</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
