
<div class="user-cutomer-managment">

    <div class="page-heading  mt-4">
        <div class="left">
            <h1>User Access Management</h1>
        </div>
        <div class="right">
            <button class="btn" [routerLink]="['/customer/user','new','']">
                <i class="icon-add icons-position" aria-hidden="true"></i><span>Add User</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="page-content mt-3">
            <div class="showList">
                <p-table class="p-table" [columns]="headers" [value]="users"
                class="p-table mt-5"  responsiveLayout="scroll" [paginator]="true" [rows]="10"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th class="cursor-pointer " pSortableColumn={{col.name}}>{{col.header}}
                                <img  *ngIf="col.sort" class="topbottom" src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr style="height: 56px;color: gray;">
                        <td>{{users.name}}</td>
                        <td>{{users.email}}</td>
                        <td>{{users.mobileNumber}}</td>
                        <td  style="max-width: 200px;">
                        <ng-container *ngFor="let col of users.roles;let isLast=last">
                            {{col | slice:14}}{{isLast ? '' : ','}}
                         </ng-container>   
                        </td>
                        <td>
                            <p *ngIf="users.active == true" class="bg-green"> Yes</p>
                            <p *ngIf="users.active != true" class="bg-red"> No</p></td>                    
                        <td  style="max-width: 200px;"> 
                            <ng-container *ngIf="users.locations?.length>0;  then isComma; else isNotComma">
                            </ng-container>
                            <ng-template #isComma>{{users.locations.join(', ') }}</ng-template>
                            <ng-template #isNotComma>{{users.locations}}</ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="user.username != users.email">
                            <i class="icon-edit icon positions" pTooltip="Edit" tooltipPosition="bottom" (click)="editUser(users)"></i>
                            <i class="icon-delete icon positions" pTooltip="Delete" tooltipPosition="bottom" (click)="delete(users.id)"></i>
                            </ng-container>
                        </td>
                        <td>
                            <!-- <p-inputSwitch class="contacttext positions" *ngIf="user.username == users.email" [disabled]="true" [(ngModel)]="users.active" ></p-inputSwitch> -->
                            <p-inputSwitch class="contacttext positions"  pTooltip="Enable / Disable" tooltipPosition="bottom" *ngIf="user.username != users.email" [disabled]="false" [(ngModel)]="users.active" (onChange)="changeStatus(users)">
                            </p-inputSwitch>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
</div>


<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>