
<div class="company-modal capture-share" >
    <div class="modal-header">
      <h4  id="modal-basic-title">Share On</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row invitemsg">
        <img src="../../assets/images/whatsapp.png" w="10">
        <img src="../../assets/images/email.png" w="10">
        <img src="../../assets/images/telegram.png" w="10">    
        <img src="../../assets/images/skype.png" w="10">   
        <img src="../../assets/images/facebook.png" w="10">
      </div>
    </div>
  </div>
  