<div class="company-modal">
    <div class="modal-header">
      <h4  id="modal-basic-title">Add Service Catalogue</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col-6">
                <label for="">SKU/Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-6">
                <label for="">Price</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-6">
                <label for="">Unit</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-6">
                <label for="">Inactive</label>
                <select class="form-select form-control" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Category</label>
                <select class="form-select form-control" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Supplier</label>
                <select class="form-select form-control" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Port Centre</label>
                <select class="form-select form-control" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-6">
                <label for="">Item Type</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-6">
                <label for="">Item Image</label>
                <input class="form-control" type="file" id="formFile">
              </div>
            </div>
            <div class="text-center buttons my-3">
              <button class="btn save">Reset</button>
              <button class="btn next">Add Item</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  