
<div class="header">
    <header [ngClass]="collapsed?'expand-header':'collapsed-header'" class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <div class="search-wrapper">
                    <div class="search-cont">
                        <img *ngIf="companyLogo" src="../../../assets/images/logo.png" alt="logo"
                            width="185">
                    </div>
                </div>
                <a class="navbar-brand pb-2">
                    <img *ngIf="!companyLogo" src="../../../assets/images/logo.png" alt="logo" width="185">
                    <img class="companyLogo" *ngIf="companyLogo" [src]="imgUrl" alt="logo" />
                </a>

                <div class="inline-flex flex-header"  >

                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle type="button" id="dropdownMenuButton1" aria-expanded="false">
                            <i class="icons icon-user"  ></i> {{user?.username}}
                        </a>
                        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                          <li *ngIf="isVendor && isOwner">
                            <a class="dropdown-item" ngbDropdownItem (click)="chooseProfile()"><i class="icon icon-change-profile"></i> Choose Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" ngbDropdownItem (click)="logout()"><i class="icon icon-logout"></i> logout</a>
                            </li>
                        </ul>
                      </div>
                    <!-- <span class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1"pTooltip="User" tooltipPosition="bottom"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icons icon-user"  ></i> {{user?.username}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li *ngIf="isVendor && isOwner">
                                <a class="dropdown-item" (click)="chooseProfile()"><i class="icon icon-change-profile"></i> Choose Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="logout()"><i class="icon icon-logout"></i> logout</a>
                            </li>
                        </ul>
                    </span> -->


                    <div *ngIf="user?.roles == 'ROLE_VENDOR'">
                        <div *ngIf="companyInfo?.status =='Rfi Generated'" (click)="goToCompanyInfo()">
                            <i class="icon icon-alert" pTooltip="Notifications" tooltipPosition="left"></i>
                            <span *ngIf="companyInfo?.status =='Rfi Generated'"
                                class="alert-notification">{{notificationLength}}</span>
                        </div>
                        <i *ngIf="companyInfo?.status =='Submitted'" pTooltip="Notifications"   tooltipPosition="left" class="icon icon-alert"></i>
                    </div>
                    <div *ngIf="user?.roles != 'ROLE_VENDOR'">
                        <i class="icon icon-alert" pTooltip="Notifications"   tooltipPosition="left"></i>
                    </div>
                </div>
            </div>

        </nav>
    </header>
</div>