
<div class="regulations mt-4">
    <form class="info-form" [formGroup]="regulationsForm">
        <div class="row">
            <div class="col-md-6 col-xl-5 col-sm-12"  *ngFor="let document of documents">
                <div class="input-wrapper">
                    <label class="regulation-label" >Terms & Conditions</label>
                    <div class="uploadContainer space-between">
                        <p class="title"> {{termsAndConditions}} </p>
                        <span class="inline-icon">
                            <i *ngIf="viewDocument" class="icon-view icon" pTooltip="View Document" tooltipPosition="bottom" (click)="downloadTermsAndConditions()"></i> 
                            <i class="icon-upload icon" pTooltip="Upload Document" tooltipPosition="bottom" (click)="upload('termsAndConditions',document.name,null)"></i>
                            <!-- <i class="icon-delete icon"></i> -->
                        </span>
                    </div>
                    <p class="regulation-info">Maximum upload file size 10MB. Only PDF File format accepted.</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 col-xl-5 col-sm-12"  *ngFor="let document of privacy">
                <div class="input-wrapper">
                    <label  class="regulation-label"> privacy Policy</label>
                    <div class="uploadContainer space-between">
                        <p class="title"> {{privacyPolicy}} </p>
                        <span class="inline-icon">
                            <i *ngIf="viewPrivacyDocument" pTooltip="View Document" tooltipPosition="bottom" class="icon-view icon" (click)="downloadPrivacyPolicy()"> </i>
                            <i class="icon-upload icon" pTooltip="Upload Document" tooltipPosition="bottom" (click)="upload('privacyPolicy',document.name,null)" ></i>
                            <!-- <i class="icon-delete icon"></i> -->
                        </span>
                    </div>
                    <p class="regulation-info">Maximum upload file size 10MB. Only PDF File format accepted.</p>
                </div>
            </div>
        </div>
        <div class="buttons mb-4">
            <ng-container >
                <button class="btn cancel" type="button" (click)="cancel()">Reset</button>
                <button class="btn next" type="button" (click)="submit()">Save</button>
            </ng-container>
        </div>
    </form>
</div>


<input type="file" style="visibility: hidden; height: 0px;width: 0px;"  accept="application/pdf" max="1"  (change)="uploadFile()" #file>
<p-toast position="top-right">
</p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
