<div class="shipping-details">
<form class="ship-form"   onsubmit="return false">


    <div class="row">
        <div class="col-6">
            <h2 class="fw-bold">Seaways Shipping Details</h2>
        </div>
        <div class="col-6" style="text-align: right;">
            <button type="button" class="btn btn-back" >
                <div><img src="../../assets/images/keyboard_backspace-24px (1)@2x.png" [routerLink]="['/admin/dashboard']"></div>
                <div style="margin-top: 12px;">Go Back</div>
            </button>
        </div>
    </div>
    
  
    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Particular Information
                                    </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="">Company Name</label><br>
                            <p class="ship">{{infoForm.companyName}}</p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Parent Company Name</label><br>
                            <p class="ship">{{infoForm.companyName}}</p>
                        </div>
                       
                        <div class="col-md-4 form-group">
                            <label for="">Contact Person  </label><br>
                            <p class="ship">{{infoForm.contactPerson}}</p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Phone Number</label><br>
                            <p class="ship">{{infoForm.phoneNumber}}</p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Email Address  </label>
                            <p class="ship">{{infoForm.emailAddress}}</p>

                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Category  </label>
                            <p class="ship">{{infoForm.category}}</p>

                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">VAT Registration Number  </label>
                            <p class="ship">{{infoForm.vatRegistrationNumber}}</p>

                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Duns Number</label>
                            <p class="ship">{{infoForm.dunsNumber}}</p>
                        </div>
                        <div class="col-md-4 form-group">

                            <label for="">Date of Incorporation  </label>
                            <p class="ship">{{infoForm.dateOfIncorporation}}</p>

                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Legal Status</label>
                            <p class="ship">{{infoForm.legalStatus}}</p>

                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Website URL</label>
                            <p class="ship">{{infoForm.websiteUrl}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Addresses
                                    </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="">Registered Addres</label><br>
                            <p class="ship">{{infoForm.registeredAddress.address}},{{infoForm.registeredAddress.city}},{{infoForm.registeredAddress.country}},{{infoForm.registeredAddress.postalCode}}</p>
                        </div>
                       
                        <div class="col-md-6 form-group">
                            <label for="">Operational Address  </label><br>
                            <p class="ship">{{infoForm.operationalAddress.address}},{{infoForm.operationalAddress.city}},{{infoForm.operationalAddress.country}},{{infoForm.registeredAddress.postalCode}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Board of Directors
                                    </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Nationality</th>
                                <th>Country of Residence</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let boardOfDirectors of boardOfDirectors">
                                    <td class="ship"> {{boardOfDirectors.fullName}}</td>
                                    <td class="ship"> {{boardOfDirectors.nationality}}</td>
                                    <td class="ship"> {{boardOfDirectors.countryOfResidence}}</td>
                             
                            </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        Shareholders
                                    </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                     <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Nationality</th>
                                <th>Country of Residence</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let shareHolders of shareHolders">
                                    <td class="ship"> {{shareHolders.fullName}}</td>
                                    <td class="ship"> {{shareHolders.nationality}}</td>
                                    <td class="ship"> {{shareHolders.countryOfResidence}}</td>
                             
                            </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
       
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                        Branch In Other Country
                                    </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="">Branch in Other Country1</label><br>
                                <p class="ship">{{infoForm.branchInOtherCountry}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5" style="margin: 0px;border: 1px solid lightgray;height: 195px;">
        <h3 style="text-align: center;margin-top: 25px;font-size: 25px;font-weight: bold;">Risk Rating: <span style="color: rgb(46 182 132);">Low</span></h3>
        <h5 style="font-size: 18px;font-weight: bold;">Review Status: <span style="color: rgb(46 182 132);">Scheduled</span></h5>
        <div class="progressContainer">
            <!-- <div class="br first">
                <span class="img first"></span>
            </div> -->
            <div class="progress">
                <div class="shipping-progress-bar" role="progressbar" [style]="style" aria-valuenow="this.progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="br last">
                <span class="img last" ></span>
            </div>
        </div>
    </div>
   
    <div class="buttons mb-4">
        <ng-container >
            <button class="btn cancel" >APPROVE</button>
            <button class="btn next" style="width: 190px;">REJECT</button>
        </ng-container>
    </div>
</form>
</div>