<div class="row p-3 settings">
    <div class="col-12 ">
        <div class="contactheading">
            <h2 class="font-bold text-2xl">Settings</h2>
        </div>

        <div class="mt-3" class="settingForm mt-3">
            <p-tabView  [(activeIndex)]="index">
                <p-tabPanel header="Information">
                    <app-informations></app-informations>
                </p-tabPanel>
                <p-tabPanel header="Survey" class="mt-4">
                    <app-survey></app-survey>
                </p-tabPanel>
                <p-tabPanel header="Customize Vendor Onboarding" class="mt-4">
                    <app-customise (getCompanyInfo)="getCustomise($event)"></app-customise>
                </p-tabPanel>
                <p-tabPanel header="Questionnaire" class="mt-4">
                    <app-questionnaire></app-questionnaire>
                </p-tabPanel>
                <p-tabPanel header="ESG" class="mt-4">
                    <app-vendor-esg></app-vendor-esg>
                </p-tabPanel>
                <p-tabPanel header="Regulations" class="mt-4">
                    <app-regulations></app-regulations>
                </p-tabPanel>
                <!-- <p-tabPanel header="Currencies" class="mt-4">
                    <app-currencies></app-currencies>
                </p-tabPanel>
                <p-tabPanel header="Services" class="mt-4">
                    <app-services></app-services>
                </p-tabPanel>
                <p-tabPanel header="Locations" class="mt-4">
                    <app-locations></app-locations>
                </p-tabPanel>
                <p-tabPanel header="Budget" class="mt-4">
                    
                </p-tabPanel> -->
            </p-tabView>
        </div>
    </div>
</div>
