<div class="add-new-esg">
    <form [formGroup]="addNewEsgForm">
        <div class="grid">
            <div class="col-12">
                <div class="input-wrapper">
                    <div class="label">
                        <label for="Student" class="font-medium">Enter New ESG Question</label>
                    </div>
                    <textarea cols="60" rows="5" autoResize="autoResize"   class="form-control"  autoResize="autoResize" pInputTextarea
                        formControlName='question'
                        [ngClass]="{'is-invalid':formSubmitAttempt && f.question.errors}" (keydown)="validators.space($event)"></textarea>
                    <div app-errors class="error-msg" [control]="f.question" [submit]="formSubmitAttempt"
                        label="Enter New Question ">
                    </div>
                </div>
                
            </div>
            <div class="col-12">
                <div class="input-wrapper">
                    <div class="label">
                        <label for="Student" class="font-medium">ESG Score</label>
                    </div>
                    <input type="text" class="form-control" formControlName='score'
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.score.errors}" (keypress)="validators.numberOnly($event)">
                    <div app-errors class="error-msg" [control]="f.score" [submit]="formSubmitAttempt"
                            label="ESG Score ">
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn cancel" (click)="onClear()">Reset</button>
            <button class="btn next" (click)="save()">Submit</button>
        </div>
    </form>
</div>

