<div class="counterparty-container">
  <p class="font-bold text-2xl ...">Search Counterparty</p>
  <div>
      <div class="row mt-5">
          <div class="col-3">
              <div class="searchContainer" >
                  <i class="icon-search" aria-hidden="true"></i>
                  <span class="inline-flex text-lg text-inherit"><input type="search" style="outline: none;" placeholder="Search by Name" /></span>
                  <!-- <span class="inline-flex"><input type="search" class='form-control' placeholder="Search Vendor" /> </span>    -->
              </div>
          </div>
          <div class="col-3">
              <p-dropdown [options]="location" optionLabel="name"></p-dropdown>
          </div>
          <div class="col-3">
            <button class="btn search" (click)="showTable()">SEARCH</button>
          </div>
      </div>
  </div>

  <div class="page-content mt-3" *ngIf="tableShow">
    <div class="showList">
        <table class="table list-table" >
            <thead>
                <tr>
                    <ng-container *ngFor="let col of headers">
                        <th class="cursor-pointer " (click)="sortBy(col.name, col)">{{col.header}}<img style="max-width: 14%;"  *ngIf="col.sort" class="inline-flex" src="../../assets/images/arrow_drop_up-24px@2x.png"></th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vendor of vendors; let i= index" style="height: 56px;">
                    <td>{{vendor.name}}</td>
                    <td>{{vendor.location}}</td>
                    <td >
                        <div>
                          <button class="btn cancel-btn text-sm" style="border-radius: inherit;"  [routerLink]="['/complaince','sealinks']">Request information</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
