<nav class="navbar header-login navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand pb-2" [routerLink]="['/']">
        <img src="../../../assets/images/logo.png" alt="logo" width="185">
      </a>
      <div class="pull-right">
        <!-- <span *ngIf="isLoginPage" class="new-user">New User?   <a [routerLink]="['/register']">Join DigiComp+</a></span> -->
        <!-- <a *ngIf="!isLoginPage" class="btn how-to-reg-btn">How to Register</a> -->
      </div>
    </div>
</nav>
