<app-header-login></app-header-login>
<div class="login-cont-wrapper" *ngIf="!isForgotPass">
    <div class="login-container">
        <p class="Forgot-heading-label">Forgot Password</p>
        <div class="para">
            <p>Enter your registered email below to receive password reset instruction</p>
        </div>

        <form [formGroup]="forgotPassword" (ngSubmit)="sendForgot()">
            <div class="form-group">
                <div class="login-input">
                    <i class="icon-user-line icon"></i>
                    <input type="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{'is-invalid':formSubmitAttempt && f.userName.errors}" (keydown)="validators.space($event)">
                </div>
             <div app-errors class="error-msg" [control]="f.userName" [submit]="formSubmitAttempt" label="Username"></div>
            </div>
            <div class="buttons">
                <button class="btn login-btn" >Send</button>
            </div>
            <div class="buttons">
                <button class="back" [routerLink]="['/login']" >Back to login</button>
            </div>
        </form>
    </div>   
</div>

<!-- check your email -->
<div class="login-cont-wrapper" *ngIf="isForgotPass">
    <div class="login-container">
        <p class="Forgot-heading-label">Check Your Email</p>
        <div class="para">
            <p>We have sent a password recovery instruction to your email.</p>
        </div>

        <div class="buttons">
            <button class="btn login-btn"  [routerLink]="['/login']" >OK</button>
        </div>
    </div>   
</div>

