<div class="question-modal">
  <div class="modal-header">
    <h4  id="modal-basic-title">Edit Capacity</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12 inputQuestion mt-3"  style="align-items: baseline;">
          <label for="note" style="width: 270px;">Current Capacity :</label>
          <input type="text" class="form-control" [value]="capacity">
        </div>
        <div class="col-12 inputQuestion mt-3"  style="align-items: baseline;">
          <label for="note" style="width: 270px;">New Capacity :</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="text-center my-4">
        <button type="button" class="btn cancel" (click)="close()">Reset</button>
        <button type="button" class="btn save">Save</button>
      </div>
    </form>
  </div>
</div>
