<div class="invitesheet">
    <div class="page-heading mt-4">
        <div class="left">
            <h1>Invite To Digi<span class="dg-comp-span">Comp+</span></h1>
        </div>
        <div class="right">
            <button class="btn btn-back" [routerLink]="['/admin/invite-owner']">
                <i class="icon-back icon" aria-hidden="true"></i><span>Back</span>
            </button>
            <button class="btn" (click)="bulkInvite()">
                <i class="icon-download icon" aria-hidden="true"></i><span>Download Bulk Invite Sheet</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-width">
            <div class="inputInv mt-4">
                <label for="Student" class="text-gray-400 font-semibold small-col" style="width: 30%;">Upload Sheet</label>
                <div class="uploadContainer space-between mx-5 small-col" style="width: 70%;">
                    <p class="title"> Bulk Invite Sheet</p>
                    <span class="inline-flex">
                        <!-- <a class="text-info mr-2 inline-flex align-middle" *ngIf="companyInfo[document.name]" (click)="download(companyInfo[document.name].fileName)" > <img src="../../../assets/images/view-icon-grey.png" class="tableIcon"/> </a> -->
                        <img (click)="upload()" src="../../../assets/images/upload-icon.png" class="tableIcon" pTooltip="Upload Document" tooltipPosition="bottom"/>
                        <img *ngIf="bulkInviteData" (click)="deleteFile()"
                            src="../../../assets/images/delet-icon.png" class="tableIcon" pTooltip="Delete Document" tooltipPosition="bottom"/>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6 col-width">
        </div>
       <div class="col-6 col-width gap">
           <div class="inputInv">
               <label for="Student" class="text-gray-400 font-semibold small-col" style="width: 28%;"></label>
               <p class="errMsg" >Maximum upload file size 10MB</p>   
           </div>   
       </div>  
    </div>

    <div class="mt-5">
        <ng-container  *ngIf="!isBlank && bulkInviteData">
        
        <form [formGroup]="bulkInviteForm">  
            <p-table [value]="tableRowArray.controls" responsiveLayout="scroll" #body [resizableColumns]="true"
            class="tableFixed invitesheet-table" styleClass="p-datatable-gridlines">  
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th *ngIf="col.title!='emailId'">
                                    {{col.name}}
                            </th>
                            <th *ngIf="col.title=='emailId'" style="min-width:250px">
                                {{col.name}}
                            </th>
                        </ng-container>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">  
                    <ng-container formArrayName="tableRowArray">  
                        <tr [formGroupName]="rowIndex">  
                            <td>  
                                <!-- <input type="text" class="form-control form-control-sm" formControlName="country" (keydown)="validators.space($event)" />   -->
                                <p-dropdown [options]="countries" filter="true" formControlName="country" optionLabel="name" (keypress)="characterOnly($event)"  [appendTo]="body"
                                optionValue="name" (onChange)="changeCountry($event,rowIndex)" placeholder="Select a Country"  [ngClass]="{'is-invalid':formSubmitAttempt && f.country.errors}">
                                </p-dropdown>
                                
                               <div app-errors class="error-msg" [control]="rowData.get('country')" [submit]="formSubmitAttempt" label="Country"></div>
                                <!-- <div class="error-msg" *ngIf="rowData.get('country').touched  && rowData.get('country').errors?.required">
                                    Country is required
                                </div> -->
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="companyName"
                                [ngClass]="{'is-invalid':formSubmitAttempt && rowData.get('companyName').errors}" (keydown)="validators.space($event)" />  
                                <!-- <div class="error-msg" *ngIf="rowData.get('companyName').touched  && rowData.get('companyName').errors?.required">
                                    Company Name is required
                                </div>   -->
                                <div app-errors class="error-msg" [control]="rowData.get('companyName')" [submit]="formSubmitAttempt" label="Company Name"></div> 
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="identificationNumber"  />  
                                <div app-errors class="error-msg" [control]="rowData.get('identificationNumber')" [submit]="formSubmitAttempt" label="Registration Number"></div> 
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="registrationReferenceType"/>  
                                <div app-errors class="error-msg" [control]="rowData.get('registrationReferenceType')" [submit]="formSubmitAttempt" label="Registration Reference Type"></div> 
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="firstName"  /> 
                                <div app-errors class="error-msg" [control]="rowData.get('firstName')" [submit]="formSubmitAttempt" label="First Name"></div> 
                                <!-- <div class="error-msg" *ngIf="rowData.get('firstName').touched  && rowData.get('firstName').errors?.required">
                                    First Name is required
                                </div> -->
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm"  formControlName="lastName"/> 
                                <div app-errors class="error-msg" [control]="rowData.get('lastName')" [submit]="formSubmitAttempt" label="Last Name"></div>  
                                <!-- <div class="error-msg" *ngIf="rowData.get('lastName').touched  && rowData.get('lastName').errors?.required">
                                    Last Name is required
                                </div> -->
                            </td>
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="emailId"/> 
                                <div app-errors class="error-msg" [control]="rowData.get('emailId')" [submit]="formSubmitAttempt" label="Email ID"></div>   
                                <!-- <div class="error-msg" *ngIf="rowData.get('emailId').touched  && rowData.get('emailId').errors?.required">
                                    Email ID is required
                                    </div>
                                <div class="text-danger" *ngIf="rowData.get('emailId').errors?.email">Email ID is invalid</div>
                                <div class="error-msg" *ngIf="rowData.get('emailId').errors?.duplicated">Duplicate Email Id</div> -->
                            </td>
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="phoneNumber"  (keypress)="numberOnly($event)" />  
                                    <div class="error-msg" *ngIf="rowData.get('phoneNumber').touched  && rowData.get('phoneNumber').errors?.required">
                                        Phone Number is required
                                    </div>
                                    <!-- <div class="error-msg" *ngIf="rowData.get('phoneNumber').touched  && rowData.get('phoneNumber').errors?.phone">
                                        Invalid Phone Number
                                    </div> -->
                            </td>
                            <td>  
                                <button type="button" class="btn btn-default" title="Delete" (click)="onDeleteRow(rowIndex)">  
                                    <i class="pi pi-trash text-danger delete" aria-hidden="true" pTooltip="Delete" tooltipPosition="bottom"></i>  
                                </button>  
                            </td>  
                        </tr>  
                    </ng-container>  
                </ng-template>  
            </p-table>  
        </form> 
        <div class="buttons mt-4"  *ngIf="!isBlank && bulkInviteData">
            <button class="btn cancel" (click)="deleteFile()">Reset</button>
            <button class="btn save" (click)="submit()" [disabled]="!bulkInviteData">Send Invite</button>
        </div>
        </ng-container>
    </div>


<input type="file" accept=".xls,.xlsx" style="visibility: hidden; height: 0px;width: 0px;" max="1"
    (change)="uploadFile()" #file>
<p-toast position="top-right">
</p-toast>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
