<div class="companysearch mt-4">
    <div class="left">
        <form [formGroup]="companySearchForm">
            <div class="search-box">
                <div class="search-left">
                    <div class="heading">
                        <div class="left">
                            <h1>Search Company / Individual</h1>
                        </div>
                    </div>

                    <div class="grid mt-4">
                        <div class="col-12">
                            <div class="inputmargin">
                                <label for="Student" class="student">Search Type<i class="red-star mr-1">* </i>
                                    :</label>

                                <div class="radio-btn">
                                    <p-radioButton name="searchType" value="COMPANY" (click)="company('company')"
                                        inputId="vendor" formControlName="searchType"></p-radioButton>
                                    <label for="vendor" class="ml-2 text-black font-medium">Company</label>

                                    <p-radioButton name="searchType" value="INDIVIDUAL" class="ml-2"
                                        (click)="company('Individual')" inputId="customer" formControlName="searchType">
                                    </p-radioButton>
                                    <label for="customer" class="ml-2 text-black font-medium">Individual</label>
                                </div>
                            </div>
                            <div app-errors class="error-msg-12" [control]="f.searchType" [submit]="formSubmitAttempt"
                                label="searchFor"></div>
                        </div>
                    </div>
                </div>
                <div class="search-right">
                    <div class="boxes">
                        <div class="icon">
                            <i class="icon-search"></i>
                        </div>
                        <div class="search-text">
                            <label for="">Total Subscribed Search</label>
                            <!-- <p>{{totalSearch}}</p> -->
                            <div class="search-subbox">
                                <div class="Compliance">
                                    <h2>Compliance</h2>
                                    <div class="count">
                                        <p>{{totalCompliance}}</p>
                                    </div>
                                </div>
                                <div class="bar"></div>
                                <div class="financial">
                                    <h2>Financial</h2>
                                    <div class="count">
                                        <p>{{totalFinancial}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxes">
                        <div class="icon">
                            <i class="icon-search purple"></i>
                        </div>
                        <div class="search-text">
                            <label for="">Total Used Search</label>
                            <!-- <p>{{totalUsed}}</p> -->
                            <div class="search-subbox">
                                <div class="Compliance">
                                    <h2>Compliance</h2>
                                    <div class="count">
                                        <p>{{usedCompliance}}</p>
                                    </div>
                                </div>
                                <div class="bar"></div>
                                <div class="financial">
                                    <h2>Financial</h2>
                                    <div class="count">
                                        <p>{{usedFinancial}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxes">
                        <div class="icon">
                            <i class="icon-search pink"></i>
                        </div>
                        <div class="search-text">
                            <label for="">Total Available Search</label>
                            <!-- <p>{{totalSearch-totalUsed}}</p> -->
                            <div class="search-subbox">
                                <div class="Compliance">
                                    <h2>Compliance</h2>
                                    <div class="count">
                                        <p>{{totalCompliance-usedCompliance}}</p>
                                    </div>
                                </div>
                                <div class="bar"></div>
                                <div class="financial">
                                    <h2>Financial</h2>
                                    <div class="count">
                                        <p>{{totalFinancial-usedFinancial}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="companybox">
                <div class="row  mt-4">
                    <div class="col-xl-4 col-md-6 column-width">
                        <div class="input-wrapper">
                            <div>
                                <label class="heading-label" *ngIf="companyDisplay">Name<i class="red-star mr-1">*</i>
                                    :</label>
                                <label class="heading-label" *ngIf="!companyDisplay">Full Name<i
                                        class="red-star mr-1">*</i> :</label>
                            </div>
                            <input class="full-name mt-2" type="text" pInputText formControlName="name"
                                (keydown)="validators.space($event)"
                                [ngClass]="{ 'is-invalid': formSubmitAttempt && f.name.errors }" />
                        </div>
                        <div app-errors class="error-msg-4" [control]="f.name" [submit]="formSubmitAttempt"
                            label="Name"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 column-space">
                        <div class="input-wrapper">
                            <div>
                                <label class="heading-label" *ngIf="companyDisplay">Date Of Incorporation:</label>
                                <label class="heading-label" *ngIf="!companyDisplay">Date Of Birth:</label>
                            </div>
                            <p-calendar class="mt-2 form-select-dob" [maxDate]="maxDate" dateFormat="dd/mm/yy"
                                [showIcon]="true" inputId="icon" formControlName="dob"
                                [ngClass]="{ 'is-invalid': formSubmitAttempt && f.dob.errors }"></p-calendar>
                        </div>
                        <div app-errors class="error-msg-4" [control]="f.dob" [submit]="formSubmitAttempt"
                            label="Date Of Incorporation"></div>
                    </div>
                    <div class="col-xl-4 col-md-6 column-space">
                        <div class="input-wrapper">
                            <div>
                                <label class="heading-label" *ngIf="companyDisplay">Country:</label>
                                <label class="heading-label" *ngIf="!companyDisplay">Nationality:</label>
                            </div>
                            <select class=" mt-2 form-select country" aria-label="Default select example"
                                formControlName="country" [ngClass]="{
                  'is-invalid': formSubmitAttempt && f.country.errors
                }">
                                <option selected value="" disabled>Select Country</option>
                                <option *ngFor="let country of countries" [value]="country.name">
                                    {{ country.name }}
                                </option>
                            </select>
                        </div>
                        <div app-errors class="error-msg-4" [control]="f.country" [submit]="formSubmitAttempt"
                            label="Country"></div>
                    </div>
                </div>

                <div class="row second-row mt-4">

                    <div class="col-xl-4 col-md-6" *ngIf="!companyDisplay">
                        <div class="input-wrapper">
                            <h2>Gender:</h2>
                            <div class="col-xl-4 col-md-6" *ngIf="!companyDisplay">
                                <div class="inputmargin">
                                    <p-radioButton name="gender" value="MALE" inputId="vendor" formControlName="gender">
                                    </p-radioButton>
                                    <label for="male" class="ml-2 text-black font-medium">Male</label>
                                    <p-radioButton name="gender" value="FEMALE" class="ml-2" inputId="customer"
                                        formControlName="gender"></p-radioButton>
                                    <label for="male" class="ml-2 text-black font-medium">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="input-wrapper">
                            <h2>Matching Threshold Percentage<i class="red-star mr-1">*</i>:</h2>
                            <div class="inputmargin">
                                <p-radioButton name="fuzziness" value="0.5" formControlName="fuzziness">
                                </p-radioButton>
                                <label for="vendor" class="ml-2 text-black font-medium">50%</label>

                                <p-radioButton name="fuzziness" value="0.7" class="ml-2" formControlName="fuzziness">
                                </p-radioButton>
                                <label for="customer" class="ml-2 text-black font-medium">70%</label>
                                <p-radioButton name="fuzziness" value="0.9" class="ml-2" formControlName="fuzziness">
                                </p-radioButton>
                                <label for="customer" class="ml-2 text-black font-medium">90%</label>

                                <p-radioButton name="fuzziness" value="1.0" class="ml-2" formControlName="fuzziness">
                                </p-radioButton>
                                <label for="customer" class="ml-2 text-black font-medium">100%</label>
                            </div>
                            <div app-errors class="error-msg-4" [control]="f.fuzziness" [submit]="formSubmitAttempt"
                                label="Matching Threshold Percentage"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 ">
                        <div class="input-wrapper">
                            <h2 *ngIf="companyDisplay">Search For<i class="red-star mr-1">*</i>:</h2>
                            <div class="checkoverflow" *ngIf="companyDisplay">
                                <p-radioButton value="COMPLIANCE" formControlName="searchFor">
                                </p-radioButton>
                                <label class="ml-2 input-label" for="binary">Compliance</label>
                                <!-- <input type="checkbox" (change)="onCheckboxChange($event)" *ngIf="!companyDisplay"
                                    value="pep" class="form-check-input ml-2" />
                                <label class="ml-2" *ngIf="!companyDisplay" for="binary">PEP</label> -->

                                <p-radioButton value="FINANCIAL" formControlName="searchFor">
                                </p-radioButton>
                                <label class="ml-2  input-label" for="binary">Financial</label>
                            </div>
                            <div class="error-msg-4 ml-2 mt-2" *ngIf="amlTypesError" label="">Fields is Required</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn cancel" (click)="onClear()">Reset</button>
                <button class="btn save" (click)="postData()">Create Search</button>
            </div>
        </form>
    </div>
    <div class="search-table mt-5 mb-3" *ngIf="CompanyData?.length>0">
        <div class="customer">
            <p-table [columns]="headers" [value]="CompanyData" class="p-table mt-5" responsiveLayout="scroll"
                [resizableColumns]="true" (onLazyLoad)="refreshPage($event)" [paginator]="true" [lazy]="true"
                [sortOrder]="1" [rows]="pageSize" (onSort)="handleSort($event)" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
                [rowsPerPageOptions]="[10,25,50]" >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th [pSortableColumn]="col.name" [pSortableColumnDisabled]="!col.sort" [ngStyle]="{'width': col.width}">
                                {{ col.header }}
                                <img *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png" />
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.createdAt | date:'dd/MM/yy'}}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.searchType }}</td>
                        <td>{{ product.fuzziness |number : '1.1-1' }}</td>
                        <td>{{ product.searchFor }}</td>
                        <!-- <td>{{ product.amlTypes}}</td> -->
                        <!-- <td>
                          
                            <ng-container *ngIf="product.amlTypes?.length>0;  then isComma; else isNotComma">
                            </ng-container>
                        
                            <ng-template #isComma>
                                {{product.amlTypes.join(', ') | titlecase }}
                            </ng-template>
                        
                            <ng-template #isNotComma>
                                {{product.amlTypes | titlecase}}
                            </ng-template>

                        </td> -->

                        <td>
                            <div [ngClass]="product.status == 'FAILED' ? 'redstatus' : 'bluestatus'"
                                *ngIf="product.status == 'FAILED'">
                                <span>Failed</span>
                            </div>
                            <div [ngClass]="product.status == 'COMPLETED' ? 'bluestatus' : 'redstatus'"
                                *ngIf="product.status == 'COMPLETED'" (click)="view(product.id)">
                                <span>View Result</span>
                                <div class="image">
                                    <img src="../../../assets/images/arrow-right.png" alt="" />
                                </div>
                            </div>
                            <div [ngClass]="product.status == 'CREATED' ? 'bluestatus' : 'redstatus'"
                                *ngIf="product.status == 'CREATED'" (click)="view(product.id)">
                                <span>View Result</span>
                                <div class="image">
                                    <img src="../../../assets/images/arrow-right.png" alt="" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>