.redstatus{
    color: #ea4335;
        text-align: center;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 17px;
        font-weight: 600;
        min-width: 150px;
        display: inline-block;
        
}