
<div class="company-modal" *ngIf="!isSent">
    <div class="modal-header">
      <h4  id="modal-basic-title">Invite</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
       
            <!-- <div class="inputInv mt-3"  style="align-items: baseline;">
                <label for="Student" class="font-semibold" style="width: 22%;">Email</label>
                
            </div> -->
            <div class="col-3 inputInv">
                <label for="Student" class="font-semibold" >Email</label>
            </div>
            <div class="col-7">
                <input type="text" class="contacttext"  pInputText>
                <p style="color:blue"><u>Add More Email</u></p>
            </div>
            <div class="inv-footer mt-5 mb-5">
                <button class="btn  cancel-btn" (click)="close()">CANCEL</button>
                <button class="btn save btn-primery" (click)="save()">SAVE</button>
            </div>    
       
      </div>
    </div>
  </div>
  
  <div class="company-modal" *ngIf="isSent">
    <div class="modal-header">
      <h4  id="modal-basic-title">Invite</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
       <p style="color:green" class="invitemsg">Survey has Successfully Sent</p> 
       
      </div>
    </div>
  </div>