<div class="customer-uploade-companyinfo">

    <div class="ocr" *ngIf="ocrData">
        <div class="heading">
            <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 text-black-600">OCR Status</h4>
            <div>
                <i class="icon-tick-circle"></i>Matched
                <i class="icon-cross-circle"></i>Not Matched
            </div> 
        </div> 
        <div class="row mt-4">
            <div class="col-md-4 mb-5" *ngFor="let ocrDt of ocrData">
                <h5 class="font-medium leading-tight text-lg mt-0 mb-2 text-black-600">{{ocrDt.attributeName}} <i *ngIf="ocrDt.matched" class="icon-tick-circle"></i><i *ngIf="!ocrDt.matched" class="icon-cross-circle"></i></h5>
                <h6 class="font-medium leading-tight text-base mt-0 mb-2 text-black-600">User Value: <span>{{ocrDt.customerInputValue}}</span></h6>
                <h6 class="font-medium leading-tight text-base mt-0 mb-2 text-black-600">Document Name: <span>{{ocrDt.documentName}}</span></h6>
                <h6 class="font-medium leading-tight text-base mt-0 mb-2 text-black-600">Extracted Value: <span>{{ocrDt.ocrExtractedValue}}</span></h6>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Uploaded Documents
            </button>
            <button  class="btn-position"  *ngIf="pdfData.status=='Submitted'" type="button" (click)="rfiModal()">
                Request for Information
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body"  >
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Incorporation documents</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            <!-- <div class="enlarge">
                                <p>Enlarge</p>
                            </div> -->
                            <div class="download">
                                <p (click)="download(pdfData.certificateOfIncorporation)" >{{pdfData.certificateOfIncorporation?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Memorandum & Articles of Association</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                     
                            <div class="download" >
                                <p (click)="download(pdfData.memorandumArticlesOfAssociation)" >{{pdfData.memorandumArticlesOfAssociation?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Financial Statements for last three years</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                           
                            <div class="download">
                                <p (click)="download(pdfData.financialStatementsLast3Years)" >{{pdfData.financialStatementsLast3Years?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Trading License</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                           
                            <div class="download">
                                <p (click)="download(pdfData.tradingLicense)" >{{pdfData.tradingLicense?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Address Proof</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            
                            <div class="download">
                                <p (click)="download(pdfData.addressApproval)" >{{pdfData.addressApproval?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Insurance Certificate</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            
                            <div class="download">
                                <p (click)="download(pdfData.insuranceCertificate)" >{{pdfData.insuranceCertificate?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Documents for Shareholders
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" >
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>National ID Card</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            <div class="download">
                                <p (click)="download(shareHolders.addressProof)">{{shareHolders.addressProof?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Passport</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            <div class="download">
                                <p (click)="download(shareHolders.passport)">{{shareHolders.passport?'Download':'Not Uploaded'}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Documents for Directors / Partners / Owners
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>National ID Card</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            <!-- <div class="enlarge">
                                <p>Enlarge</p>
                            </div> -->
                            <div class="download">
                                <p (click)="download(boardOfDirectors.addressProof)" >{{boardOfDirectors.addressProof?'Download':'Not Uploaded'}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="heading">
                            <h2>Passport</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">
                        </div>
                        <div class="btns">
                            <!-- <div class="enlarge">
                                <p>Enlarge</p>
                            </div> -->
                            <div class="download">
                                <p (click)="download(boardOfDirectors.passport)" >{{boardOfDirectors.passport?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item" *ngIf="this.contractInformation?.length>0">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Contracts & Key Contacts Information
                                </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row" *ngFor="let contact of contractInformation">
                    <div class="col-md-3 form-group-details">
                        <label for="">Contract Name</label>
                        <p class="ship"> {{ contact?.contractName }} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Start Date</label>
                        <p class="ship"> {{ contact?.startDate | date}} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">End Date</label>
                        <p class="ship"> {{ contact?.endDate | date}} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Renewal Date</label>
                        <p class="ship"> {{ contact?.renewalDate | date}} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Currency</label>
                        <p class="ship"> {{ contact?.currency }} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Annual Value</label>
                        <p class="ship"> {{ contact?.annualValue }} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Contract Owner</label>
                        <p class="ship"> {{ contact?.contractOwner }} </p>
                    </div>
                    <div class="col-md-3 form-group-details">
                        <label for="">Contact Email</label>
                        <p class="ship">{{ contact?.email }} </p>
                    </div>
                    <div class="col-md-3 form-group"  >
                        <div class="heading">
                            <h2>Contract Document</h2>
                        </div>
                        <div class="image">
                            <img src="../../../assets/images/dashboard-icons/pdf.png" alt="">

                        </div>
                        <div class="btns">
                            <!-- <div class="enlarge">
                                <p>Enlarge</p>
                            </div> -->
                            <div class="download">
                                <p (click)="download(contact.contractDocument)" >{{contact.contractDocument?'Download':'Not Uploaded'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons mb-3">
        <div class="btn cancel" (click)="back()">Back</div>
        <div class="btn next" (click)="next()" >Next</div>
    </div>
</div>