<app-header-login></app-header-login>
<div class="login-cont-wrapper">
    <div class="login-container">
        <p class="subhead-login">Welcome TO</p>
        <div class="login-img">
            <img src="../../../assets/images/logo.png" alt="login image" width="185"> 
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- <div class="error-message" *ngIf="error">
                {{errorMsg}}
            </div> -->
            <div class="form-group">
                <div class="login-input">
                    <i class="icon-user-line icon"></i>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username" [ngClass]="{'is-invalid':formSubmitAttempt && f.username.errors}" (keydown)="validators.space($event)">
                </div>
                <div app-errors class="error-msg" [control]="f.username" [submit]="formSubmitAttempt" label="Username" ></div>
            </div>
            <div class="form-group mt-4">
                <div class="login-input">
                    <i class="icon-lock icon"></i>
                    <input [type]="password" (keyup)="rePassword($event)" class="form-control fc-icon" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':formSubmitAttempt && f.password.errors}" (keydown)="validators.space($event)" appBlockcopypaste>
                    <i *ngIf="iconShow"  (click)="onClick()" class="password-icon" [ngClass]="show ? 'icon-hide' : 'icon-view'" aria-hidden="true"></i>
                </div>
                <div app-errors class="error-msg" [control]="f.password" [submit]="formSubmitAttempt" label="Password"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="rememberMe" type="checkbox" id="autoSizingCheck2">
                        <label class="form-check-label" for="autoSizingCheck2">
                        Remember me
                </label>
                    </div>
                </div>
                <div class="col text-end">
                    <a href="" class="forgot-pass" [routerLink]="['/forgot-password']" >Forgot Password?</a>
                </div>
            </div>
            <div>
                <button class="btn login-btn">Login</button>
            </div>
            <div class="text-center">
                <div class="new-user">New User? <a [routerLink]="['/register']">Join DigiComp+</a></div>
            </div>
        </form>
    </div>
</div>