<div class="customized mt-4">
    <form class="info-form" [formGroup]="infoForm">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Particular Information
                    </button>
                </h2>
                <!-- <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" -->
                <div id="collapseOne" class="show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div class="grid flexbox">
                            <div class="col-md-6 col-sm-12 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Company Name</label>
                                    <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="companyName"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content ">
                                <div class="input-wrapper">
                                    <label for="">Former Name</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="formerName"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Contact Person</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="contactPerson"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Phone Number</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="phoneNumber"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Email Address</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="emailAddress"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Company Registration Number</label>
                                    <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="companyRegistrationNumber"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Category</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="category"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">VAT Registration Number </label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="vatRegistrationNumber"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Duns Number</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="dunsNumber"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Date of Incorporation</label>
                                    <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="dateOfIncorporation"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Legal Status</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="legalStatus"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Website URL</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="websiteUrl"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Product / Service</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="productOrService"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Annual Revenue in USD</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="annualRevenueInUsd"></p-inputSwitch>
                                </div>
                            </div>
    
                        </div>
                        <div class="grid flexbox">
                            <div class="col-6 customized-content">
                                <div class="input-wrapper">
                                    <label for="">Company Logo</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="companyLogo"></p-inputSwitch>
                                </div>
                            </div>
                            <!-- <div class=" customized-contentcol-6">
                                <div class="input-wrapper">
                                    <label for="">Personal Identification</label>
                                    <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="personalIdentification"></p-inputSwitch>
                                </div>
                            </div> -->
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Registered Address
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="registeredAddress">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Country</label>
                                        <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="country"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">City / Town</label>
                                        <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="city"></p-inputSwitch>
                                    </div>
                                </div>
        
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Address</label>
                                        <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="addresses"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Postal Code</label>
                                        <p-inputSwitch class="contacttext" tooltipPosition="bottom" [disabled]="true" (onChange)="handleChange($event)" formControlName="postalCode"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header"  id="headingThree" >
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Operational Address
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="operationalAddress">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Country</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="country"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">City / Town</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="city"></p-inputSwitch>
                                    </div>
                                </div>
        
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Address</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="addresses"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Postal Code</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="postalCode"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Previous Address
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="previousAddress">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Country</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="country"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">City / Town</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="city"></p-inputSwitch>
                                    </div>
                                </div>
        
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Address</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="addresses"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Postal Code</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="postalCode"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Board of Directors
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div>
                            <div formGroupName="boardOfDirectors">
                                <div class="grid flexbox">
                                    <div class="col-6 customized-content">
                                        <div class="input-wrapper">
                                            <label for="">Full Name</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="fullName"></p-inputSwitch>
                                        </div>
                                    </div>
                                    <div class="col-6 customized-content">
                                        <div class="input-wrapper">
                                            <label for="">Nationality</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="nationality"></p-inputSwitch>
                                        </div>
                                    </div>
            
                                </div>

                                <div class="grid flexbox">
                                    <div class="col-6 customized-content">
                                        <div class="input-wrapper">
                                            <label for="">Identification Number</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="identificationNumber"></p-inputSwitch>
                                        </div>
                                    </div>

                                    <div class="col-6 customized-content">
                                        <div class="input-wrapper">
                                            <label for="">Country Of Residence</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="countryOfResidence"></p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid flexbox">
                                    <div class="col-6 customized-content">
                                        <div class="input-wrapper">
                                            <label for="">Address</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="address"></p-inputSwitch>
                                        </div>
                                    </div><div class= "customized-content col-6">
                                        <div class="input-wrapper">
                                            <label for="">Postal Code</label>
                                            <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="postalCode"></p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Shareholders
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="shareHolders">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Company / Full Name</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="companyName"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">% Owned </label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="ownedPercentage"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Country of residence</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="countryOfIncorporation"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Identification number</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="identificationNumber"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Address</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="address"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Postal Code</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="postalCode"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Parent Company
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="parentCompany">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Parent Company Name</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="name"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Country of Domicile</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="countryOfDomicile"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Branches in other Country
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="branchInOtherCountry">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Branch in Other Country</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="branch"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix" >
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Contract Information
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="boxes" formGroupName="contractInformation">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Annual Value</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="annualValue"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Contract Document</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="contractDocument"></p-inputSwitch>
                                    </div>
                                </div>
        
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Contract Name</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="contractName"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Contract Owner</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="contractOwner"></p-inputSwitch>
                                    </div>
                                </div>
                            </div> 
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Currency</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="currency"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Email</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="email"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Start Date</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="startDate"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">End Date</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="endDate"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Renewal Date</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="renewalDate"></p-inputSwitch>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Bank Information
                    </button>
                </h2>
    
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                    data-bs-parent="#accordionExample">
                    <div class="boxes">
                        <div formGroupName="bankDetails">
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Bank Name</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="bankName"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Account Number</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="accountNumber"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Beneficiary Name</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="beneficiaryName"></p-inputSwitch>
                                    </div>
                                </div>
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">IBAN</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="iban"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
                            <div class="grid flexbox">
                                <div class="col-6 customized-content">
                                    <div class="input-wrapper">
                                        <label for="">Swift Code</label>
                                        <p-inputSwitch class="contacttext" pTooltip="Enable / Disable" tooltipPosition="bottom" (onChange)="handleChange($event)" formControlName="swiftCode"></p-inputSwitch>
                                    </div>
                                </div>
                            </div>
    
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

         <div class="buttons mb-4">
            <ng-container >
                <button class="btn cancel" type="button" (click)="onClear()">Reset</button>
                <button class="btn next" type="button" (click)="postData()">Save</button>
            </ng-container>
        </div>
        
    </form>
    </div>