<div class="services mt-4">
    <div class="setting-btn">
        <button class="btn cancel-btn" (click)="addService()"><i class="icon-add icons-position"
            aria-hidden="true"></i><span>Add New Service</span></button>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Agency</label>
        </div>
        <div class="col-md-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Tugboat</label>
        </div>
        <div class="col-md-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">vessel traffic services & ads to Navigation</label>
        </div>
        <div class="col-md-4 mt-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Chartering</label>
        </div>
        <div class="col-md-4 mt-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Mooring Service</label>
        </div>
        <div class="col-md-4 mt-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Other Marine Services</label>
        </div>
        <div class="col-md-4 mt-4 form-group" style="display: flex;">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary" class=" mx-3 ">Warehousing</label>
        </div>
    </div>

    <div class="buttons mt-5">
        <button class="btn cancel">CANCEL</button>
        <button class="btn next">SAVE CHANGES</button>
    </div>
</div>