<div class="survey mt-3">

    <div class="btn-survey">
        <button class="btn cancel-btn" *ngIf="!isCreateSurvey && !inviteSurvey" (click)="addSurvey()"><i
                class="icon-add icons-position" aria-hidden="true"></i> <span>Create Survey</span>
        </button>
        <!-- <button class="btn cancel-btn" *ngIf="isCreateSurvey || inviteSurvey" (click)="backSurvey()"><img
                src="../../../assets/images/arrow-left.png"><span class="mx-2">Back To
                Listing</span></button> -->
            <button class="btn-back" *ngIf="isCreateSurvey || inviteSurvey" (click)="backSurvey()">
            <i class="icon-back icon" aria-hidden="true"></i><span>Back</span>
          </button>
    </div>
  

    <div class="showList mt-2" *ngIf="survey && !isCreateSurvey">
            <div class="page-content mt-3">
                <div class="showList mt-2">
                    <p-table [columns]="surveyheaders" class="p-table mt-5" [value]="surveyResult"
                         responsiveLayout="scroll" [resizableColumns]="true" [paginator]="true"
                        [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <th class="cursor-pointer " pSortableColumn={{col.name}}>{{col.header}}<img
                                            *ngIf="col.sort" class="topbottom"
                                            src="../../assets/images/arrow_drop_up-24px@2x.png">
                                    </th>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>

                                <td>{{user.createdOn}}</td>
                                <td>{{user.title}}</td>
                                <!-- <td>{{user.action}}</td> -->
                                <td>
                                    <i (click)="edit(user.id)" class="icon-edit icon positions" pTooltip="Edit" tooltipPosition="bottom"></i>
                                    <i (click)="delete(user.id)" class="icon-delete icon positions" pTooltip="Delete" tooltipPosition="bottom"></i>

                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                </div>
            </div>
    </div>



    <div class="row mt-4" *ngIf="isCreateSurvey">
        <div class="create-survey">
            <form [formGroup]="SurveyForm">
                <div class="survey-tilte">
                    <label class="col-2" for="">Survey title</label>
                    <input formControlName="title" [control]="f.title" class="col-4" type="text" (keydown)="validators.space($event)" pInputText>
                </div>

                <div formArrayName="questionsAnswer"
                    *ngFor="let certification of SurveyForm.get('questionsAnswer')['controls'] let i=index; let first=first;let last=last"
                    class="question-section">
                    <div [formGroupName]="i">
                        <div class="survey-question">
                            <label class="col-2">Question 0{{i+1}}</label>
                            <input class="col-4" [control]="f.question" formControlName="question" required type="text"
                                pInputText (keydown)="validators.space($event)">
                        </div>
                        <div class="survey-answer">
                            <label class="col-2" for="">Answer Parameter</label>
                            <select pInputText class="col-4" [control]="f.answerParameter" 
                                formControlName="answerParameter" (change)="onChange($event.target.value,i)">
                                <option selected disabled value="">Choose Survey Answer...</option>
                                <option value="Quantitative">Quantitative</option>
                                <option value="Qualitative">Qualitative</option>
                            </select>
                        </div>
                        <div *ngIf="quantity[i]">
                            <div class="quantity">
                                <input class="form-check-input ratiobtn " type="radio" formControlName="rating"
                                    value="1 to 3" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1 to 3
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                    value="1 to 5" id="flexRadioDefault1">
                                <label class="form-check-label radioValue " for="flexRadioDefault1">
                                    1 to 5
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                    value="1 to 10" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1 to 10
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                    value="start rating" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    start rating
                                </label>
                            </div>
                        </div>

                        <div *ngIf="quality[i]">
                            <div class="quality">
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                    value="Excellent/Good/Average/Poor/Worst" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Excellent/Good/Average/Poor/Worst
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                    value="Good/Average/Worse" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Good/Average/Worse
                                </label>
                            </div>
                        </div>
                        <div class="btn-delete">
                            <button *ngIf="!(!last && first) && last && i>0" aria-label="close" class="btn btn-remove"
                                (click)="remove(i)">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="checkbox-survey">
                    
                    <input type='checkbox' class="form-check-input ml-2" [checked]="checked"
                        (change)="checkValue(checked?'A':'B')"> 
                        <p class="mt-1"> Add section for comment / message </p>
                </div>

                <div *ngIf="comment">
                    <textarea class="comment" formControlName="comment" [rows]="5" [cols]="60" pInputTextarea
                        autoResize="autoResize" (keydown)="validators.space($event)"></textarea>
                </div>
                <div class="buttons mt-5">
                    <button class="btn cancel" (click)="addQuestionsAnswer(i)">ADD NEW QUESTION</button>
                    <button class="btn next" (click)="submitSurvey()">SUBMIT</button>
                </div>
            </form>

        </div>
    </div>


    <div class="invite-section" *ngIf="inviteSurvey">

        <form [formGroup]="SurveyForm">

            <div formArrayName="questionsAnswer" *ngFor="let item of inviteData; let i=index" class="question-section">
                <div [formGroupName]="i">
                    <div class="survey-question">
                        <h1>Q 0{{i+1}} <span> {{item.question}}</span> </h1>
                    </div>

                    <div *ngIf="item.rating == '1 to 3'">
                        <div *ngIf="quantity[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn " type="radio" formControlName="rating"
                                disabled=true   value="1" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="2"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue " for="flexRadioDefault1">
                                    2
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="3"
                                disabled=true  id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    3
                                </label>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="item.rating == '1 to 5'">
                        <div *ngIf="quantity[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn " type="radio" formControlName="rating"
                                disabled=true  value="1" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="2"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue " for="flexRadioDefault1">
                                    2
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="3"
                                disabled=true  id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    3
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="4"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    4
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="5"
                                disabled=true  id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    5
                                </label>
                            </div>
                        </div>
                    </div>

                    
                    <div *ngIf="item.rating == '1 to 10'">
                        <div *ngIf="quantity[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn " disabled=true type="radio" formControlName="rating"
                                    value="1" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="2"
                                disabled=true id="flexRadioDefault1">
                                <label class="form-check-label radioValue " for="flexRadioDefault1">
                                    2
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="3"
                                disabled=true id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    3
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="4"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    4
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="5"
                                disabled=true    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    5
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="6"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    6
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="7"
                                disabled=true id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    7
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="8"
                                disabled=true   id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    8
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating" value="9"
                                disabled=true    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    9
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" formControlName="rating"
                                disabled=true  value="10" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>



                    <div *ngIf="item.rating == 'start rating'">
                        <div *ngIf="quantity[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn " disabled=true type="radio" formControlName="rating"
                                    value="1" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    1
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="2"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue " for="flexRadioDefault1">
                                    2
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="3"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    3
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="4"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    4
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="5"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    5
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="6"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    6
                                </label>
                                <input class="form-check-input ratiobtn" type="radio"  disabled=true formControlName="rating" value="7"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    7
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="8"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    8
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating" value="9"
                                    id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    9
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="10" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="item.rating == 'Excellent/Good/Average/Poor/Worst'">
                        <div *ngIf="quality[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn" disabled=true type="radio" formControlName="rating"
                                    value="Excellent" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Excellent
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Good" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Good
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Average" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Average
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Poor" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Poor
                                </label>

                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Worst" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Worst
                                </label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="item.rating == 'Good/Average/Worse'">
                        <div *ngIf="quality[i]">
                            <div class="radio-option">
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Good" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Good
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Average" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Average
                                </label>
                                <input class="form-check-input ratiobtn" type="radio" disabled=true formControlName="rating"
                                    value="Worst" id="flexRadioDefault1">
                                <label class="form-check-label radioValue" for="flexRadioDefault1">
                                    Worst
                                </label>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="invite-comment"  *ngIf="checked">
                <h3 class="mb-2">Any Comment / Message </h3>
                <textarea disabled=true formControlName="comment" class="comment" [rows]="5" [cols]="80" autoResize="autoResize" pInputTextarea></textarea>
            </div>

            <div class="buttons mt-5">
                <button class="btn next" (click)="inviteSend()">Invite</button>
            </div>

        </form>


    </div>
    <p-dialog header="Invite" [style]="{width: '30vw'}" [(visible)]="display" class="invite-survey-vendor">
        <form  [formGroup]="InviteForm" >
               <label class="model-label" for="">Vendor</label>
                  <select id="inputState" class="selectBox form-select" formControlName="vendorId" >
                    <option selected disabled value="">Choose...</option>
                    <option *ngFor="let category of categories"  [ngValue]="category.companyId">{{category.name}}</option>
                  </select>
        <div class="buttons mt-5">
            <button class="btn cancel" (click)="cancelMail()" >Reset</button>
            <button class="btn next" (click)="sendInvite()" >Send</button>
        </div>
        </form>
    </p-dialog>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>