<div class="bank-financial mt-4" *ngIf="financialData">
    <div class="page-heading">
        <h1>Financial</h1>
    </div>

    <div class="banner mt-3">
        <div class="grid flex-box">
            <div class="col-2">
                <div class="field">
                    <label for="">Currency</label>
                    <p>{{financialData.currency}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="field">
                    <label for="">Capital</label>
                    <p>{{financialData.capital |currency:'':''}}</p>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="">Country</label>
                    <p>{{financialData.country}}</p>
                </div>
            </div>
            <div class="col-4">
                <div class="field">
                    <label for="">Activity</label>
                    <ng-container *ngFor="let col of financialData.activities">
                        <p>{{col.activityCode?col.activityCode+':':''}}{{col.activityDesc}}</p>
                     </ng-container>   
                    
                </div>
            </div>
        </div>

    </div>

    <div class="charts mt-5">
        <div class="grid flex-box">
            <div class="col-md-6">
                <div class="cards">
                    <h2>REVENUE GROWTH</h2>
                    <div echarts [options]="options" class="demo-chart"></div>
                    <!-- <div class="bank-text">
                        <p>The percentage rate of Revenue Growth for the Subject in 2019 is 31.14%, indicates an effective increase of the Subjects sales when compared to 2018's revenue Performance</p>
                    </div> -->
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="cards">
                    <h2>PROFITABILITY RATIOS</h2>
                    <div echarts [options]="profitabilityOption" class="demo-chart"></div>
                    <!-- <div class="bank-text">
                        <p>The percentage rate of Revenue Growth for the Subject in 2019 is 31.14%, indicates an effective increase of the Subjects sales when compared to 2018's revenue Performance</p>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>

    <!-- balance sheet -->
    <div class="balancesheet mt-4">
        <div class="heading">
            <h1>Balance Sheet</h1>
        </div>

           <!-- code for table -->
    <div class="row">
        <div class="page-content mt-2 mb-3">
            <div class="showList mt-2" *ngIf="locationData && balanceSheetYears">
                <p-table  [columns]="locationheaders" [value]="locationData"
                    class="p-table mt-5 bank-financial-table" responsiveLayout="scroll" [resizableColumns]="true" >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="head">
                            <ng-container *ngFor="let col of columns">
                                <!-- <th class="cursor-pointer" *ngIf="col.name=='particular'" >{{col.header}}<img
                                        *ngIf="col.sort" class="topbottom"
                                        src="../../assets/images/arrow_drop_up-24px@2x.png">
                                </th> -->
                                <th class="cursor-pointer center "  *ngIf="col.name=='financial'" [colSpan]="balanceSheetYears?.length+1">{{col.header}}<img
                                    *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                            </ng-container>
                        </tr>
                        <!-- <tr>
                            <th clas="cursor-pointer" colspan="4">
                                BalanceSheet
                            </th>   
                        </tr>     -->
                        <tr class="particulartr">
                            <th >
                                <div class="td">Particular
                                    <!-- <span>{{user.span}}</span> -->
                                </div>
                            </th>
                        <ng-container *ngFor="let col of this.balanceSheetYears">
                                <th>
                                    <div class="td">
                                        <!-- {{col.year}}<br> -->
                                        <span>{{col.year | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                </th>     
                        </ng-container>   
                        </tr>  
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                          
                        <tr class="tr">
                            <td >
                                <div class="td">{{user.particular}}
                                    <span>{{user.span}}</span>
                                </div>
                            </td>
                            <ng-container *ngFor="let col of user.financialValues">
                                    <td>
                                        <div class="td">
                                            <!-- {{col.year}}<br> -->
                                            <span>{{col.value|currency:'':''}}</span>
                                        </div>
                                    </td>     
                            </ng-container>   
                            <!-- <td >
                                <div class="td">{{user.first}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td>
                            <td >
                                <div class="td">{{user.financial}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="td">{{user.currency}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    </div>

    <div class="balancesheet">
        <div class="heading mt-3">
            <h1>Income Statement</h1>
        </div>

           <!-- code for table -->
    <div class="row">
        <div class="page-content mt-2 mb-3">
            <div class="showList mt-2">
                <p-table [columns]="locationheaders" [value]="incomeStatement"
                    class="p-table mt-2 table catalogue-table income-statement " responsiveLayout="scroll" [resizableColumns]="true" >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="head">
                            <ng-container *ngFor="let col of columns">
                                <!-- <th class="cursor-pointer" *ngIf="col.name=='particular'" >{{col.header}}<img
                                        *ngIf="col.sort" class="topbottom"
                                        src="../../assets/images/arrow_drop_up-24px@2x.png">
                                </th> -->
                                <th class="cursor-pointer center" *ngIf="col.name=='financial'" [colSpan]="incomeStatementYears?.length+1">{{col.header}}<img
                                    *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                            </ng-container>
                        </tr>
                        <!-- <tr>
                            <th clas="cursor-pointer" colspan="4">
                                BalanceSheet
                            </th>   
                        </tr>     -->
                        <tr class="particulartr">
                            <th >
                                <div class="td">Particular
                                    <!-- <span>{{user.span}}</span> -->
                                </div>
                            </th>
                        <ng-container *ngFor="let col of this.incomeStatementYears">
                                <th>
                                    <div class="td">
                                        <!-- {{col.year}}<br> -->
                                        <span>{{col.year | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                </th>     
                        </ng-container>   
                        </tr>  
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                          
                        <tr class="tr">
                            <td >
                                <div class="td">{{user.particular}}
                                    <span>{{user.span}}</span>
                                </div>
                            </td>
                            <ng-container *ngFor="let col of user.financialValues">
                                    <td>
                                        <div class="td">
                                            <!-- {{col.year}}<br> -->
                                            <span>{{col.value|currency:'':''}}</span>
                                        </div>
                                    </td>     
                            </ng-container>   
                            <!-- <td >
                                <div class="td">{{user.first}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td>
                            <td >
                                <div class="td">{{user.financial}}
                                    <p>{{user.current}}</p>
                                </div>  
                            </td>
                            <td>
                                <div class="td">{{user.currency}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    </div>

    <div class="balancesheet">
        <div class="heading">
            <h1>Cash Flow</h1>
        </div>

           <!-- code for table -->
    <div class="row">
        <div class="page-content mt-2 mb-3">
            <div class="showList mt-2">
                <p-table [columns]="locationheaders" [value]="cashFLow"
                    class="p-table mt-5 cash-flow " responsiveLayout="scroll" [resizableColumns]="true" >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="head">
                            <ng-container *ngFor="let col of columns">
                                <th class="cursor-pointer center " *ngIf="col.name=='financial'" [colSpan]="cashFlowYears?.length+1">{{col.header}}<img
                                    *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                            </ng-container>
                        </tr>
                        <!-- <tr>
                            <th clas="cursor-pointer" colspan="4">
                                BalanceSheet
                            </th>   
                        </tr>     -->
                        <tr class="particulartr">
                            <th >
                                <div class="td">Particular
                                    <!-- <span>{{user.span}}</span> -->
                                </div>
                            </th>
                        <ng-container *ngFor="let col of this.cashFlowYears">
                                <th>
                                    <div class="td">
                                        <!-- {{col.year}}<br> -->
                                        <span>{{col.year | date: 'dd-MM-yyyy'}}</span>
                                    </div>
                                </th>     
                        </ng-container>   
                        </tr>  
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                          
                        <tr class="tr">
                            <td >
                                <div class="td">{{user.particular}}
                                    <span>{{user.span}}</span>
                                </div>
                            </td>
                            <ng-container *ngFor="let col of user.financialValues">
                                    <td>
                                        <div class="td">
                                            <!-- {{col.year}}<br> -->
                                            <span>{{col.value|currency:'':''}}</span>
                                        </div>
                                    </td>     
                            </ng-container>   
                            <!-- <td >
                                <div class="td">{{user.first}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td>
                            <td >
                                <div class="td">{{user.financial}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="td">{{user.currency}}
                                    <p>{{user.current}}</p>
                                </div>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="directors mt-5 center-form" *ngIf="!financialData">
    <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600 mt-3">Financial Data Not Available</h3>
</div>