<div class="row">
    <div class="col-md-6 form-group">
        <label for="">Select Category <span class="text-danger" >*</span> </label>
        <select class="form-select" aria-label="Default select example"
        style="height:52px" (change)="categoryChange($event)" [(ngModel)]="category">
        <option selected disabled value="">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}
        </option>
    </select>
    </div>
    <div class="col-md-6 form-group">
        <label for="">Select Sub-Category <span class="text-danger" >*</span></label>
        <p-multiSelect [options]="subCategories" required [(ngModel)]="subCategory"
        class="select-height"></p-multiSelect>
    </div>
    <div class="col-md-6 form-group">
        <label for="">Comment</label>
        <textarea (keydown)="validators.space($event)"  pInputTextarea [(ngModel)]="comment"  autoResize="autoResize" class="form-control"></textarea>
    </div>

    <div class="buttons  mt-5">
        <button  class="btn cancel" (click)="close()">Reset</button>
        <button class="btn next" (click)="submit()">Send Request</button>
    </div>
    <p-toast position="top-right">
    </p-toast>
    
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>   

