<div class="row p-3">
  <div class="col-12 ">
      <div class="page-heading">
          <h1>Compliance Request</h1>
      </div>
      <div class="page-content mt-3">
          <div class="showList">
              <table class="table list-table ">
                  <thead>
                      <tr>
                          <ng-container *ngFor="let col of headers">
                              <th class="cursor-pointer " >{{col.header}}<img style="max-width: 14%;"  *ngIf="col.sort" class="inline-flex" src="../../assets/images/arrow_drop_up-24px@2x.png"></th>
                          </ng-container>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let request of requests; let i= index" style="height: 56px;color: gray;">
                          <td>{{request.date}}</td>
                          <td>{{request.requestedBy}}</td>
                          <td>{{request.documentRequested}}</td>
                          <td >
                              <div style="display: flex;column-gap: 30px;">
                              <img src="../../../assets/images/view-icon-grey.png" width="20" class="mx-2 cursor-pointer">
                              <img src="../../assets/images/tick-icon-green.png" width="20" class="mx-2 cursor-pointer">
                              <img src="../../assets/images/cross-icon-red.png" (click)="openModal('rejection')" width="20" class="mx-2 cursor-pointer">

                              <!-- <i class="fas fa-trash-alt" ></i> -->
                              </div>

                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
