<div class="currencies mt-5">
    <form action="" [formGroup]="informationForm">
        <div class="row">
            <div class="col-md-6">
                <div class="inputInv mt-3">
                    <label for="Student" class="font-medium" >Base Currency</label>
                    <select class="form-select contacttext h-15" aria-label="Default select example">
                        <option selected disabled value="">Select Currency</option>
                        <option value="Base Currency">Base Currency</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputInv mt-3">
                    <label for="Student" class="font-medium" >Payment Currency</label>
                    <select class="form-select contacttext h-15" aria-label="Default select example">
                        <option selected disabled value="">Select Payment Currency</option>
                        <option value="Payment Currency">Payment Currency</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inputInv mt-3">
                    <label for="Student" class="font-medium" >Reporting Currency</label>
                    <select class="form-select contacttext h-15" aria-label="Default select example">
                        <option selected disabled value="">Select Reporting</option>
                        <option value="Reporting Currency">Reporting Currency</option>
                    </select>
                </div>
            </div>
    
        </div>
    
        <div class="buttons mt-5">
            <button class="btn cancel">Reset</button>
            <button class="btn next">Save Changes</button>
        </div>

    </form>
</div>